.DashBoardClass {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: .2s;
}

.DashBoardClass .container {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

.DashBoardClass .container .SensorDatas {
    width: 100%;
    height: 22%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.DashBoardClass .container .ChartClass {
    width: 90%;
    height: 350px;
    margin: 40px 5%;
}

.dark {
    background: #2a2a2a;
    color: #fff;
    transition: .2s;
}