.DashBoardClass {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: .2s;
}

.DashBoardClass .container {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

.DashBoardClass .container .SensorDatas {
    width: 100%;
    height: 22%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.DashBoardClass .container .ChartClass {
    width: 90%;
    margin: 40px 4%;
    min-height: 300px;
    padding: 1%;
    border-radius: 15px;
    overflow: hidden;
    background: #00000022;

    .PredictionsClass {
        width: 100%;
        height: 30px;
        margin: 0 20px;
        display: flex;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        select {
            cursor: pointer;
            outline: none;
            margin: 0 20px;
            border-radius: 10px;
            background: #ffffff55;
            border: none;
        }
    }
}

.dark {
    background: #2a2a2a;
    color: #fff;
    transition: .2s;
}