.HeaderClass {
    width: 100%;
    height: 10%;
    box-shadow: inset 0px -1px 0 #cacaca;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.HeaderClass .LightNightBtn {
    margin: 0 10px;
}
.HeaderClassDark {
    color: white;
    box-shadow: inset 0px -1px 0 #4a4a4a;
}